.footer {
    text-align: center;
    width: 100%;
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.titulo {
    text-align: center;
    margin: 10px;
}

.total {
    margin: 0 35%;
    text-align: center;
}

td, th {
    text-align: left;
    vertical-align: middle;
}